name: Run Autoclaim

on:
  workflow_dispatch:
#  schedule:
#    - cron: '0 */3 * * *'

concurrency:
  group: 'pythonC'  # 设置唯一的组ID
  cancel-in-progress: true 

jobs:
  Duckchain:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 150
    if: 'true'
    env:
      WP_CONFIG: ${{ secrets.WARP_CONFIG }}
      SESSION_CONFIG: ${{ secrets.SESSION_CONFIG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.15

      - name: Connect InnerWeb
        run: |
          mkdir app/warp
          cd app/warp
          wget https://github.com/Suyunmeng/pfile/releases/download/public-packages/web.js
          wget ${{ env.WP_CONFIG }}
          chmod +x web.js test.json
          nohup ./web.js -c test.json &

      - name: Install dependencies
        run: |
          cd app/6
          python3 -m venv venv
          ./venv/bin/pip3 install -r requirements.txt

      - name: Downloads Data
        run: |
          cd app/6
          wget ${{ env.SESSION_CONFIG }}/6/data.txt
          chmod +x data.txt

      - name: Run Python Duckchain
        run: |
          cd app/6
          ./venv/bin/python3 main.py  # 运行第三个Python脚本

  ALL-goat-sexio:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 150
    if: true
    env:
      WP_CONFIG: ${{ secrets.WARP_CONFIG }}
      SESSION_CONFIG: ${{ secrets.SESSION_CONFIG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.6

      - name: Connect InnerWeb
        run: |
          mkdir app/warp
          cd app/warp
          wget https://github.com/Suyunmeng/pfile/releases/download/public-packages/web.js
          wget ${{ env.WP_CONFIG }}
          chmod +x web.js test.json
          nohup ./web.js -c test.json &

      - name: Install dependencies
        run: |
          cd app/7
          pip3 install -r requirements.txt

      - name: Downloads Data
        run: |
          cd app/7
          wget ${{ env.SESSION_CONFIG }}/7/.env
          chmod +x .env
          cd global_data
          mkdir sessions
          cd sessions
          wget ${{ env.SESSION_CONFIG }}/sessions/Suyunjing-1.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Sumengjing-2.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Susu-3.session
          wget ${{ env.SESSION_CONFIG }}/7/sessions/accounts.json
          chmod +x Suyunjing-1.session Sumengjing-2.session Susu-3.session accounts.json

      - name: Run Python ALL-goat-sexio
        run: |
          cd app/7
          python3 main.py -a 2  # 运行第三个Python脚本

  Major:
    runs-on: ubuntu-latest
    continue-on-error: true
    if: false
    timeout-minutes: 150
    env:
      WP_CONFIG: ${{ secrets.WARP_CONFIG }}
      SESSION_CONFIG: ${{ secrets.SESSION_CONFIG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.15

      - name: Connect InnerWeb
        run: |
          mkdir app/warp
          cd app/warp
          wget https://github.com/Suyunmeng/pfile/releases/download/public-packages/web.js
          wget ${{ env.WP_CONFIG }}
          chmod +x web.js test.json
          nohup ./web.js -c test.json &

      - name: Install dependencies
        run: |
          cd app/8
          python3 -m venv venv
          ./venv/bin/pip3 install -r requirements.txt

      - name: Downloads Data
        run: |
          cd app/8
          wget ${{ env.SESSION_CONFIG }}/8/.env
          chmod +x .env
          mkdir sessions
          cd sessions
          wget ${{ env.SESSION_CONFIG }}/sessions/Suyunjing-1.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Sumengjing-2.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Susu-3.session
          chmod +x Suyunjing-1.session Sumengjing-2.session Susu-3.session

      - name: Run Python Major
        run: |
          cd app/8
          ./venv/bin/python3 main.py -a 1  # 运行第三个Python脚本

  Boinkers:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 150
    env:
      WP_CONFIG: ${{ secrets.WARP_CONFIG }}
      SESSION_CONFIG: ${{ secrets.SESSION_CONFIG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.15

      - name: Connect InnerWeb
        run: |
          mkdir app/warp
          cd app/warp
          wget https://github.com/Suyunmeng/pfile/releases/download/public-packages/web.js
          wget ${{ env.WP_CONFIG }}
          chmod +x web.js test.json
          nohup ./web.js -c test.json &

      - name: Install dependencies
        run: |
          cd app/9
          python3 -m venv venv
          ./venv/bin/pip3 install -r requirements.txt

      - name: Downloads Data
        run: |
          cd app/9
          wget ${{ env.SESSION_CONFIG }}/9/.env
          chmod +x .env
          mkdir sessions
          cd sessions
          wget ${{ env.SESSION_CONFIG }}/sessions/Suyunjing-1.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Sumengjing-2.session
          wget ${{ env.SESSION_CONFIG }}/sessions/Susu-3.session
          chmod +x Suyunjing-1.session Sumengjing-2.session Susu-3.session

      - name: Run Python Boinkers
        run: |
          cd app/9
          ./venv/bin/python3 main.py -a 1  # 运行第三个Python脚本

  Vooi:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 150
    env:
      WP_CONFIG: ${{ secrets.WARP_CONFIG }}
      SESSION_CONFIG: ${{ secrets.SESSION_CONFIG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Connect InnerWeb
        run: |
          mkdir app/warp
          cd app/warp
          wget https://github.com/Suyunmeng/pfile/releases/download/public-packages/web.js
          wget ${{ env.WP_CONFIG }}
          chmod +x web.js test.json
          nohup ./web.js -c test.json &

      - name: Install dependencies
        run: |
          cd app/10
          npm install
          npm i telegram@2.22.2

      - name: Downloads Data
        run: |
          cd app/10
          mkdir accounts
          cd accounts
          mkdir query-Sumengjing-2 query-Susu-3 query-Suyunjing-1
          wget -O query-Sumengjing-2/query.txt ${{ env.SESSION_CONFIG }}/10/accounts/query-Sumengjing-2/query.txt
          wget -O query-Suyunjing-1/query.txt ${{ env.SESSION_CONFIG }}/10/accounts/query-Suyunjing-1/query.txt
          wget -O query-Susu-3/query.txt ${{ env.SESSION_CONFIG }}/10/accounts/query-Susu-3/query.txt
          chmod +x query-Sumengjing-2/query.txt query-Suyunjing-1/query.txt query-Susu-3/query.txt

      - name: Run Python Vooi
        run: |
          cd app/10
          node app.cjs  # 运行第三个Python脚本
